<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <script src="/js/editar.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/adicionar.css" />
</head>

<body>

    <!--Área da navbar-->
    <header>
        <nav>
            <ul class="nav-list">
                <li><a class="nav-link" href="dashboardRestaurant.html">Inicio</a></li>
                <li><a class="nav-link" href="adicionar.html">Adicionar</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!--Corpo da página-->
        <center>
            <div class="Titulo">
                <h2>Editar prato</h2>
            </div>
        </center>


        <!--Container com formulário de Editar preto (gerado pelo js)-->
        <div class="dishes-edit-container"></div>
  
    </main>

    <footer class="footer has-text-centered">Feito por Abel</footer>

</body>
</html>