<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
    
    <!--Área da navbar-->
    <header>
        <nav>
            <ul class="nav-list">
                <li><a class="nav-link" href="index.html">Inicio</a></li>
                <li><a class="nav-link" href="adicionar.html">Adicionar</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero is-info is-small">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">Micro Delivery</p>
            </div>
        </div>
    </section>
    <div class="box-cta">
        <p class="has-text-centered"> Confira os pratos abaixo: </p>
    </div>
    <section class="container">
        <div class="dishes"></div>
    </section>

    <footer class="footer has-text-centered"> Feito por MIM</footer>

</body>
</html>